@section scripts {
    <script>
        $(function () {
            $("div").one('click',function(event) {
                alert('Isso será chamado apenas uma vez');
                //$(this).unbind(event);
            }).css({
                backgroundColor: 'red',
                width: '200px',
                height: '200px'
            });
        });

    </script>
}

<div>
    
</div>

