<script src="~/Scripts/angular.min.js"></script>
<div ng-app>
    <p>
        <button ng-disabled="switch">Clique em mim</button>
    </p>
    <p>
        <input type="checkbox" ng-model="switch"/>
    </p>
    <p ng-show="true">Estou visível</p>
    <p ng-show="false">Estou invisível</p>
</div>



